{% if view.game.eventsInPlay|length>0 %}
    <h3>Events in play</h3>
    <table class="table table-bordered" style="width:auto; font-size: 100%; font-weight: bold; ">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Level</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for event in view.game.eventsInPlay %}
                {% if event['level']>0 %}
                    <tr>
                        <td>{{event['number']}}</td>
                        <td>{{event['name']}}</td>
                        <td>{{event['level']}}</td>
                        <td style="font-size: 90%; font-weight: normal; ">{{event['description']}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <h3>There are no events in play</h3>
{% endif %}