{% extends layout_template  %}

{% block title %}
    <title realm="Limbo">Main Page</title>
{% endblock %}

{% block menu %}
    <a class="navbar-brand" href="{{ path('ListGames') }}">List</a>
    <a class="navbar-brand" href="{{ path('CreateGame') }}">Create</a>
{% endblock %}

{% block content %}

    <h1>Salv&eacute !</h1>
    <div style="width:50%;">
        
    <p class="text-justify">
        This site is a testing place for a web-based version of The Republic of Rome (see the <a href="http://boardgamegeek.com/boardgame/1513/republic-rome">Board Game Geek link</a>), a board game by Avalon Hill from 1990, which was later re-published by Valley Games.<br><br>

        The most up-to-date information on this application's development will usually be <a href="http://boardgamegeek.com/thread/1232862/ror-online-feedback">here</a> with more general information <a href="http://boardgamegeek.com/thread/659566/ror-online-version">here</a><br><br>

        Since this is the second "serious" version of the code (and actually the third attempt), changes have been tracked in a variety of ways and though everything will end up in the same place at some point, the old Wiki (available <a href="https://github.com/LocoNeko/silex-ROR/wiki">here</a> ) is the most comprehensive source of development documentation apart from the code itself.<br><br>

        You can (and are welcome to) directly browse the code of the new version on GitHub in <a href="https://github.com/LocoNeko/The-Republic-of-Rome">this repository</a> which will eventually become canon.<br><br>

        <strong>IMPORTANT NOTE</strong> : While under development, nothing in this page is likely to last or to be kept safe. Data will be altered and disappear, games will be created and destroyed on a regular basis, most players will not be actual people, but just test users. Generally speaking, users named P1 to P6 are for test purpose, with logins being p1@ror to p6@ror and passwords P1 to P6. Feel free to use those at will.<br>
    </p>
    </div>
{% endblock %}
