{% extends layout_template  %}

{% block title %}
    <title realm="Limbo">Main Page</title>
{% endblock %}

{% block menu %}
    <a class="navbar-brand" href="{{ path('ListGames') }}">List</a>
    <a class="navbar-brand" href="{{ path('CreateGame') }}">Create</a>
{% endblock %}

{% block content %}

    <h1>Salv&eacute !</h1>
    
{% endblock %}
