<div id="footer" style="border-top: thick solid darkgray; height: 150px;">
    <div class="footer" style="overflow-y: scroll; bottom: 0px; width: 100%; height: 100%; background-color: #f5f5f5; padding: 5px;">
        <p class="text-success">This will also contain the chat interface</p>
        <table class="table table-stripped">
            {# TODO : show the log through the Presenter, once I implement LobbyPresenter
            {% for message in game.getAllMessages(app.user.id)%}
            <tr>
                <th style="white-space: nowrap;">
                    {{message.getTime()|date('Y/m/d H:i:s')}}
                </th>
                <td style="color: {{message.getColour()}}; width:100%; ">
                    {{message.show(app.user.id , game.getPartiesNames())}}
                </td>
            </tr>
            {% endfor %}
            #}
        </table>
    </div>
</div>
