<div style="position: absolute; right:15px; top:52px; margin-top:5px;">
    <a class='btn btn-success' data-placement='left' title="Rome current state" href='#' id='RomeCurrentState' data-trigger="hover">ROME</a>
    <div id='RomeCurrentState_content' style="display: none">
        <div id="VariousInfo">
            <table class="table table-bordered" style="width:auto; font-weight: bold; ">
                <tbody>
                    <tr>
                        <th>Treasury</th>
                        <td>{{view.game.treasury}} T</td>
                    </tr>
                    <tr>
                        <th>Unrest</th>
                        <td>{{view.game.unrest}}</td>
                    </tr>
                    <tr>
                        <th>Land Bills</th>
                        <td>TO DO</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="Forces">
            <h3>Legions</h3>
            <h4>In Rome</h4>
            <ul class="list-unstyled">{{view.game.legionsDescription['Rome']}}</ul>
            <h4>In Garrison</h4>
        </div>
    </div>
</div>
