{% if view.interface['choices']|length >0 %}
    <table class="table table-bordered" style="width:auto; font-size: 150%; font-weight: bold; text-shadow: 1px 1px #888888;">
        <tbody>
            <tr>
                <td class="success" colspan="2">{{view.interface['description']}}</td>
            </tr>
            {% for choice in view.interface['choices'] %}
                <tr>
                    <td>
                        {{choice['description']}}
                    </td>
                    <td>
                        <div>{% embed 'BoardElements/ActionToken.twig' with {'action': choice['action']}%}{% endembed %}</div>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td class="success" colspan="2">{% embed 'BoardElements/ActionToken.twig' with {'action': view.interface['senateAgree']}%}{% endembed %}</td>
            </tr>
        </tbody>
    </table>
{% endif %}