<h1>Mortality</h1>
{% if game.getParty(app.user.id).getIsDone() == FALSE %}
    Click "READY" when you are ready for the death bingo.
    <form class='form-inline json-submit' user_id='{{app.user.id}}' verb='MortalityReady'>
        <button type="submit" class="btn btn-warning">READY</button>
    </form>
{% else %}
    You are ready and are currently waiting for :
    <ul>
        {% for party in game.getAllPartiesButOne(app.user.id) %}
            {% if not party.getIsDone() %}
                <li>{{party.getFullName()}}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
