{% extends layout_template  %}

{% block title %}
    <title realm="Lobby">Create</title>
{% endblock %}

{% block menu %}
    <a class="navbar-brand" href="{{ path('ListGames') }}">List</a>
    <a class="navbar-brand" href="{{ path('CreateGame') }}">Create</a>
{% endblock %}

{% block content %}

    <h2>Create</h2>
        <form class="form-inline json-submit" verb="Create">
            <div class="table-responsive table-bordered ">
                    <table class="table" id='CreateGame'>
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <td colspan="2"><input type="text" class="form-control" id="gameName" name="gameName"></td>
                            </tr>
                            <tr>
                                <th>Scenario</th>
                                <td colspan="2">
                                    <select class="form-control" id="scenario" name="scenario">
                                        {% for scenario in scenarios %}
                                            <option>{{scenario}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th style="width:20%;">Variants</th>
                                <td style="width:40%;">Played
                                    <ul id="variants" name="variants" class="list-group sortable-list ui-sortable variants" style="max-height:300px; overflow-y:auto; min-height: 300px; background-color: #eee;">
                                    </ul>
                                    <a id="move_right" class="label label-danger">NONE &gt; </a>
                                </td>
                                <td style="width:40%;">Not played
                                    <ul class="list-group sortable-list ui-sortable variants_not_played" style="max-height:300px; overflow-y:auto; min-height: 300px; background-color: #eee;">
                                        {% for variant in variants %}
                                            <li class="list-group-item sortable-item">{{variant}}</li>
                                        {% endfor %}
                                    </ul>
                                    <a id="move_left" class="label label-primary">&lt; ALL</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
            <button type="submit" class="btn btn-success">Create</button>
        </form>
    
{% endblock %}

{% block scripts %}

    <script>
        $('#move_left').click(function() {
            $('.variants').append($('.variants_not_played .list-group-item'));
        });
        $('#move_right').click(function() {
            $('.variants_not_played').append($('.variants .list-group-item'));
        });
    </script>

{% endblock %}
