{% extends layout_template  %}

{% block title %}
    <title realm="Lobby">Create</title>
{% endblock %}

{% block menu %}
    <a class="navbar-brand" href="{{ path('ListGames') }}">List</a>
    <a class="navbar-brand" href="{{ path('CreateGame') }}">Create</a>
{% endblock %}

{% block content %}

    <h2>Create</h2>
        <form class="form-inline json-submit" verb="Create">
            <div class="table-responsive table-bordered ">
                    <table class="table" id='CreateGame'>
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <td colspan="2"><input type="text" class="form-control" id="gameName" name="gameName"></td>
                            </tr>
                            <tr>
                                <th>Scenario</th>
                                <td colspan="2">
                                    <select class="form-control">
                                        <option>Scenario 1</option>
                                        <option>Scenario 2</option>
                                        <option>Scenario 3</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Variants</th>
                                <td>
                                    <ul class="list-group" style="max-height:200px; overflow-y:auto;">
                                        {% for variant in variants %}
                                            <li class="list-group-item">{{variant}}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <ul class="list-group" style="max-height:200px; overflow-y:auto;">
                                        <li class="list-group-item">Cras justo odio</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
            <button type="submit" class="btn btn-success">Create</button>
        </form>
    
{% endblock %}

{% block scripts %}
            
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    
{% endblock %}
