<form class="form-inline json-submit" verb="JoinGame" gameId="{{game.getId()}}">
    <div class="form-group">
        <label>Party name</label>
            <input type="text" class="form-control" id="partyName" name="partyName" placeholder="Populares">
    </div>
    <button type="submit" class="btn btn-default">Join</button>
</form>
