{% extends layout_template  %}

{% block title %}
    <title realm="Lobby">Data View</title>
{% endblock %}

{% block menu %}
    <a class="navbar-brand" href="{{ path('ListGames') }}">List</a>
    <a class="navbar-brand" href="{{ path('CreateGame') }}">Create</a>
{% endblock %}

{% block content %}
    <pre>
        {{dump(gameData)}}
    </pre>
{% endblock %}

{% block scripts %}
            
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    
{% endblock %}
