{% extends layout_template  %}

{% block title %}
    <title realm="{{game.getId()}}">{{game.getPhase()}}</title>
{% endblock %}

{% block content %}

    <h4>
        Current HRAO: <strong>{{game.displayContextualName(game.getHRAO().getFullName() , app.user.id)}}</strong>
    </h4>
    
    {% embed game.getPhase() ~ '/phaseMain.twig' with {'game' : game } %}
    {% endembed %}

    <h3>Your Party</h3>
    {% embed 'BoardElements/Party.twig' with {'self' : TRUE , 'party' : game.getParty(app.user.id) , 'gameId': game.getId() } %}
    {% endembed %}

    {% if game.getParty(app.user.id).getHand().getNumberOfCards() == 0 %}
        <h3>Your Hand is empty</h3>
    {% else%}
        {#
        {% if game.getPhase()=='Setup' and game.getSubPhase() == 'Play cards' %}
            {% set verbForHand = 'Play cards' %}
        {% endif %}
        #}
        <h3>Your Hand</h3>
        <div class="row">
            {% for card in game.getParty(app.user.id).getHand().getCards() %}
                {% embed "BoardElements/Card.twig" with {'card': card , 'gameId': game.getId() , 'actions': game.getListOfCardActions(card.getPreciseType()) } only %}
                {% endembed %}
                {#
                {% if card.statesmanPlayable(app.user.id)['flag']|default(FALSE) and verbForHand|default(FALSE)=='Play cards' %}
                    {% embed "BoardElements/Card.twig" with {'card': card , 'buttonVerb': 'Play Statesman' , 'gameId': game.getId() } only %}
                    {% endembed %}
                {% elseif card.getPreciseType()=='Concession'|default(FALSE) and verbForHand|default(FALSE)=='Play cards' %}
                    {% embed "BoardElements/Card.twig" with {'card': card , 'cardVerb': 'Play Concession' , 'gameId': game.getId() } only %}
                    {% endembed %}
                {% else%}
                    {% embed "BoardElements/Card.twig" with {'card': card , 'gameId': game.getId() } only %}
                    {% endembed %}
                {% endif %}
                #}
            {% endfor %}
        </div>
    {% endif %}

    <h3>Other Parties</h3>
    {% for party in game.getAllPartiesButOne(app.user.id).toArray() %}
        {% embed 'BoardElements/Party.twig' with {'self' : FALSE , 'party' : party , 'gameId': game.getId() } %}
        {% endembed %}
    {% endfor %}
    
{% endblock %}
