{% extends layout_template  %}

{% block title %}
    <title realm="{{game.getId()}}">Setup Base</title>
{% endblock %}

{% block content %}

    {% embed 'BoardElements/Party.twig' with {'self' : TRUE , 'party' : game.getParty(app.user.id)} %}
    {% endembed %}
    
{% endblock %}