{% extends layout_template  %}

{% block title %}
    <title realm="{{game.getId()}}">Setup Base</title>
{% endblock %}

{% block content %}

    <h4>
        Current HRAO: <strong>{{game.displayContextualName(game.getHRAO().getFullName() , app.user.id)}}</strong>
    </h4>
    {% if game.getSubPhase() == 'Pick leaders' %}
        <h2>Pick Leaders</h2>
        {% embed 'Setup/PickLeaders.twig' %}
        {% endembed %}
    {% endif %}

    {% if game.getSubPhase() == 'Play cards' %}
        <h2>Play cards</h2>
        {% set verbForHand = 'Play cards' %}
        {% embed 'Setup/PlayCards.twig' %}
        {% endembed %}
    {% endif %}

    <h3>Your Party</h3>
    {% embed 'BoardElements/Party.twig' with {'self' : TRUE , 'party' : game.getParty(app.user.id) , 'gameId': game.getId() } %}
    {% endembed %}

    {% if game.getParty(app.user.id).getHand().getNumberOfCards() == 0 %}
        <h3>Your Hand is empty</h3>
    {% else%}
        <h3>Your Hand</h3>
        <div class="row">
            {% for card in game.getParty(app.user.id).getHand().getCards() %}
                {% if card.statesmanPlayable(app.user.id)['flag']|default(FALSE) and verbForHand|default(FALSE)=='Play cards' %}
                    {% embed "BoardElements/Card.twig" with {'card': card , 'buttonVerb': 'Play Statesman' , 'gameId': game.getId() } only %}
                    {% endembed %}
                {% elseif card.getPreciseType()=='Concession'|default(FALSE) and verbForHand|default(FALSE)=='Play cards' %}
                    {% embed "BoardElements/Card.twig" with {'card': card , 'cardVerb': 'Play Concession' , 'gameId': game.getId() } only %}
                    {% endembed %}
                {% else%}
                    {% embed "BoardElements/Card.twig" with {'card': card , 'gameId': game.getId() } only %}
                    {% endembed %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    
{% endblock %}