{# Header : Description #}

<h4>{{setupView['description']}}</h4>

{# Header : List (optional) #}

{% if setupView['list']|length > 0 %}
    <ul>
        {% for item in setupView['list'] %}
            <li>{{item}}</li>
        {% endfor %}
    </ul>
{% endif %}

{# Header : Action (optional) #}

{% if setupView['action']|length > 0 %}
    {% embed 'BoardElements/ActionToken.twig' with {'action': setupView['action']}%}
    {% endembed %}
{% endif %}

{# Sub phase template #}

{% if game.getSubPhase() == 'PickLeaders' %}
    {% embed 'Setup/PickLeaders.twig' %}
    {% endembed %}
{% elseif game.getSubPhase() == 'Play cards' %}
    <h2>Play cards</h2>
    {% set verbForHand = 'Play cards' %}
    {% embed 'Setup/PlayCards.twig' %}
    {% endembed %}
{% endif %}
