{% if game.getParty(app.user.id).getLeader() == NULL %}
    <div class="btn btn-default btn-lg draggable" verb='PickLeader' title='Drag and drop on top of a Senator to make him Party leader'>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Leader
    </div>
{% else %}
    You have set your party's leader and are currently waiting for :
    <ul>
        {% for party in game.getAllPartiesButOne(app.user.id) %}
            {% if party.getLeader() == NULL%}
                <li>{{party.getFullName()}}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
<script>
    
    /*
     * A (droppable) Senator card needs to have these attributes :
     * - card_id
     * The draggables must provide  a verb
     */

    $('.sprite-Senator').each( function() {
        $(this).droppable( {
            drop: function ( event, ui ) {
                var json = {} ;

                // Verb - The verb must be on the draggable but if it's not, get it from the droppable
                var verb = ui.draggable.attr('verb') ;

                json['dropOn'] = $(event.target).attr('card_id') ;
                json['dragFrom'] = ui.draggable.attr('card_id') ;

                /* Emit the Update event to socket.io
                 * This requires a gameId (or "Lobby") which should be in the "realm" attribute of the title tag
                 */
                socket.emit( 'Update', $("title").attr('realm') );

                $.post(
                    window.location.pathname + '/' + verb ,
                    json ,
                    function( data ) {
                        window.location.reload(true) ;
                    } ,
                    "json"
                );

            }
        });
    });
</script>
