{% if game.getParty(app.user.id).getLeader() == NULL %}
    <div class="btn btn-default btn-lg draggable" gameID='{{game.getId()}}' verb='PickLeader' title='Drag and drop on top of a Senator to make him Party leader'>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Leader
    </div>
{% else %}
    You have set your party's leader and are currently waiting for :
    <ul>
        {% for party in game.getAllPartiesButOne(app.user.id) %}
            {% if party.getLeader() == NULL%}
                <li>{{party.getFullName()}}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}

