<form class='form-inline json-submit' user_id='{{app.user.id}}' verb='persuasionCounterBribe' gameId='{{view.game.game_id}}'>
    <table class="table table-bordered" style="width:auto; font-size: 150%; font-weight: bold; text-shadow: 1px 1px #888888;">
        <tbody>
            <tr>
                <td class="success" >Counter bribe</td>
                <td>{% embed 'BoardElements/ActionToken.twig' with {'action': view.interface['counterBribe']}%}{% endembed %}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="row">
                        <div class="col-sm-6">{% embed 'BoardElements/ActionToken.twig' with {'action': view.interface['persuasionNoCounterBribe']}%}{% endembed %}</div>
                        <div class="col-sm-6">{% embed 'BoardElements/ActionToken.twig' with {'action': view.interface['persuasionCounterBribe']}%}{% endembed %}</div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</form>