{#
    FORUM PHASE
#}

<h4>{{forumView['initiativeDescription']}} , {{forumView['description']}}</h4>

{# Header : List (optional) #}

{% if forumView['list']|length > 0 %}
    <ul>
        {% for item in forumView['list'] %}
            <li>{{item}}</li>
        {% endfor %}
    </ul>
{% endif %}

{# Header : Action (optional) #}

{% if forumView['action']|length > 0 %}
    {% embed 'BoardElements/ActionToken.twig' with {'action': forumView['action']}%}
    {% endembed %}
{% endif %}

