{#
    FORUM PHASE
#}

<h4>{{header['initiativeDescription']}} - {{header['description']}}</h4>

{# Header : List (optional) #}

{% if header['list']|length > 0 %}
    <ul>
        {% for item in header['list'] %}
            <li>{{item}}</li>
        {% endfor %}
    </ul>
{% endif %}

{# Header : Action (optional) #}

{% if header['action']|length > 0 %}
    {% embed 'BoardElements/ActionToken.twig' with {'action': header['action']}%}
    {% endembed %}
{% endif %}

