{% extends layout_template  %}

{% block title %}
    <title realm="SimpleUser">Email confirmation sent</title>
{% endblock %}

{% block content %}

    <h1>Thank you!</h1>

    <p>An email has been sent to you at <strong>{{ email }}</strong>.</p>

    <p>Please click the link in that message to activate your account.</p>

{% endblock %}
